@import 'mixin';
@import 'variable';

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

// alfa footer ---------------------------------------
.alfa_footer {
    background-color: #ffffff;
    padding: $pad;
    font-family: 'Montserrat', sans-serif;


    
    @include mobile {
        padding: 80px 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_up {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        column-gap: 20px;
        

        @include mobile {
            max-width: 240px;
            display: flex;
            flex-direction: column;
        }
        

        &-touch {

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }

            &-paragraph {
                font-size: 14px;
                font-weight: 400;
                width: 211px;
            }

            &-list {
                display: flex;
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    color: black;
                }

                img {
                    width: 24px;
                }
            }

        }

        &-company {

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }

            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-features {


            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-resources {

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    &_down {
        text-align: center;
        padding-top: 80px;
        margin: 0;
        font-size: 14px;

        @include mobile {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
        }
    }

}

// betta footer ----------------------------------------------------------------
.betta_footer {
    padding: $pad;
    margin-top: 30px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;

    @include mobile {
        padding: 80px 0 25px;
    }

    &-up {
        display: flex;
        justify-content: space-between;
        @extend %res;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
        

        &-left {

            @include mobile {
                max-width: 240px;
                display: flex;
                flex-direction: column;
            }
            
            &-head {
                margin: 0;
                font-size: 24px;
                font-weight: 700;

            }
            &-paragraph {
                margin: 10px  0 0 0;
                font-size: 14px;

                @include mobile {
                    max-width: 183px;
                }
            }
        }
        &-right {
            
            @include mobile {
                margin-top: 50px;
                width: 240px;
            }

            &-button {
                color: white;
                background-color: $blue;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin: 0;
                padding: 15px 40px;
                font-size: 14px;
                font-weight: 700;
            }
        }
    
    }

    &-center {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #fff;

        @include mobile {
            max-width: 240px;
            flex-direction: column;
            padding: 50px 0;
        }

        &-company {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-legal {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-features {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-resources {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-touch {


            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    display: flex;
                    height: 29px;

                    a {
                        text-decoration: none;
                        color: black;
                        
                        img {
                            width: 21px;
                            height: 22px;
                        }

                    }
                    
                    span {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }

    &-down {
        display: flex;
        justify-content: space-between;
        margin: 0px auto;

        @include mobile {
            max-width: 240px;
            flex-direction: column;
        }

        &-paragraph {
            font-size: 14px;
        }

        &-list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            height: 24px;
            margin: 25px 0;
            width: 112px;

            a {
                margin: 0;
                width: 24px;
            }
        }
    }
}

// gamma footer -----------------------------------------------------------
.gamma_footer {
    background: #ffffff;
    margin-top: 30px;
    padding: $pad;

    @include mobile {
        padding: 80px 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-up {
        display: flex;
        justify-content: space-between;

        @include mobile {
            max-width: 330px;
            flex-direction: column;
            row-gap: 20px;
        }
    
        &-element {
            display: flex;

            @include mobile {
                width: 250px;
            }

            &-left {
                width: 70px;
                height: 61px;
            }

            &-right {
                max-width: 153px;

                &-head {
                    font-size: 14px;
                    margin: 0;
                }

                &-paragraph {
                    font-size: 12px;
                    margin: 5px 0 0 0;
                }
            }
        }
    }

    // footer center container
    &-center {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        background-color: #fff;

        @include mobile {
            max-width: 240px;
            flex-direction: column;
            justify-content: center;
        }

        &-company {

            @include mobile {
                width: 240px;
            }

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-legal {

            @include mobile {
                width: 240px;
            }

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-features {

            @include mobile {
                width: 240px;
            }

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-resources {

            @include mobile {
                width: 240px;
            }

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-touch {
            
            @include mobile {
                width: 240px;
            }

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    display: flex;
                    height: 29px;

                    a {
                        text-decoration: none;
                        color: black;
                        
                        img {
                            width: 21px;
                            height: 22px;
                        }

                    }
                    
                    span {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }

    // footer down container
    &-down {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 40px 0 25px;
        background-color: #FAFAFA;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
        

        &-left {
            
            &-head {
                margin: 0;
                font-size: 24px;
                font-weight: 700;

                @include mobile {
                    max-width: 240px;
                }
            }
            &-paragraph {
                margin: 10px  0 0 0;
                font-size: 14px;

                @include mobile {
                    max-width: 183px;
                }
            }
        }
        &-right {

            @include mobile {
                max-width: 240px;
                margin-top: 20px;
            }

            &-button {
                color: white;
                background-color: $blue;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                padding: 15px 40px;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

}

// delta footer -------------------------------
.delta_footer {
    background-color: #ffffff;
    margin-top: 30px;


    &-up {
        padding: $pad;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-evenly;
        margin: 0 auto;

        @include mobile {
            padding: 80px 10% 25px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: center;
            max-width: 240px
        }
        

        &-touch {

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }

            &-paragraph {
                font-size: 14px;
                font-weight: 400;
                width: 211px;
            }

            &-list {
                display: flex;
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    color: black;
                }

                img {
                    width: 24px;
                }
            }

        }

        &-company {

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }

            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-features {
            

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-resources {
            width: 241px;

            &-head {
                font-size: 24px;
                font-weight: 700;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    &-down {
        text-align: center;
        height: 76px;
        padding: $pad;
        margin: 0;
        font-size: 14px;
        background-color: #ececec;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }


}

// epsilon footer ----------------------------------------
.epsilon_footer {
    background-color: $blue;
    margin-top: 30px;
    color: #ffffff;


    &-up {
        padding: $pad;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-evenly;
        margin: 0 auto;

        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: center;
            max-width: 240px
        }
        

        &-touch {

            &-head {
                @extend %text-med;
                margin: 11px 0;
            }

            &-paragraph {
                font-size: 14px;
                font-weight: 400;
                width: 211px;
                
            }

            &-list {
                display: flex;
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    color: #ffffff;
                }

                img {
                    width: 24px;
                }
            }

        }

        &-company {

            &-head {
                @extend %text-med;
                margin: 11px 0;
            }

            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }

        &-features {
            

            &-head {
                @extend %text-med;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }

        &-resources {
            width: 241px;

            &-head {
                @extend %text-med;
                margin: 11px 0;
            }
            
            &-list {
                padding: 0;

                li {
                    padding: 5px;
                    list-style: none;
                    font-size: 14px;
                    
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    &-down {
        text-align: center;
        height: 76px;
        padding: $pad;
        margin: 0;
        font-size: 14px;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }


}

// zeta footer ----------------------------------------
.zeta_footer {
    background-color: #ffffff;
    margin: 30px auto;
    padding: 0 10% 25px;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // zeta up
    &-up {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 40px 0;
        border-bottom: 1px solid #c3c3c3;

        @include mobile {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 240px;
        }

        &-paragraph {
            margin: 0;
            @extend %text-med;
        }

        &-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            column-gap: 10px;
        }
    }   

    // zeta center 
    &-center {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 40px 0;
        background-color: #fff;

        @include mobile {
            display: flex;
            flex-direction: column;
            max-width: 240px;
        }

        &-company {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-legal {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-features {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-resources {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-list {
                text-align: left;
                padding: 0;
                font-size: 14px;
                line-height: 24px;

                li {
                    list-style: none;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        &-touch {

            &-head {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }

            &-subscribe {
                display: flex;
                max-width: 321px;
                height: 58px;


                &-left {
                    max-width: 204px;
                    height: 56px;
                    background-color: #F9F9F9;
                    margin: 0;
                    border: 1px solid #E6E6E6;

                    
                    @include mobile {
                        max-width: 150px; 
                    }

                    &-text {
                        height: 58px;
                        padding: 0 0 0 5px;
                        border: none;
                        background-color: #F9F9F9;
                        color: #737373;
                        font-weight: 400;
                        font-size: 14px;

                        @include mobile {
                            max-width: 145px; 
                        }
                    }
                }
            
                &-right {
                    padding: 15px 30px;
                    margin: 0;
                    border: none;
                    background-color: $blue;
                    color: white;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;

                    @include mobile {
                        padding: 15px 20px;
                    }
                }
            }

            &-paragraph {
                font-size: 12px;
                color: #737373;
            }
        }
    }

    // zeta down
    &-down {
        text-align: left;
        padding: 25px 0 25px;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        color: #737373;

        @include mobile {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}

